<div>
  <div class="row">
    <div class="col-md-2 form-text text-right">
      <label>实验名称：</label>
    </div>
    <div class="col-md-8">
      {{work?.item?.name}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 form-text text-right">
      <label>任务描述：</label>
    </div>
    <div class="col-md-8">
      {{work?.item?.description}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 form-text text-right">
      <label>作业分数：</label>
    </div>
    <div class="col-md-8">
      {{work?.score}}
    </div>
  </div>
  <hr>
  <div class="row mt-4">
    <div class="col-md-2 form-text text-right">
      <label>作答情况：</label>
    </div>

    <div class="col-md-8" [innerHTML]= "work?.content">
    </div>

</div>
<br>

<!--<div *ngIf="!work.reviewed" class="alert alert-primary" role="alert">-->
<!-- 该作业暂未批阅，请等待教师批阅。-->
<!--</div>-->
</div>
