<div class="row">
  <div class="col-4" id="pageInfo">
    第{{page + 1}}/{{totalPages}}页 每页<app-size-select [size]="size" (changeSize)="onSizeSelected($event)"></app-size-select>条
  </div>
  <div class="col-8">
    <nav>
      <ul class="pagination">
        <li class="page-item" [ngClass]="{'disabled': page === 0}" (click)="onPage(0)">
          <span class="page-link">首页</span>
        </li>
        <li class="page-item" [ngClass]="{'disabled': page === 0}" (click)="onPage(page - 1)">
          <span class="page-link">上一页</span>
        </li>
        <li class="page-item" [ngClass]="{'active': page === _page}" *ngFor="let _page of pages" (click)="onPage(_page)">
          <span class="page-link" *ngIf="_page !== page">{{_page + 1}}</span>
          <span class="page-link" *ngIf="_page === page">{{_page + 1}}<span class="sr-only">(current)</span></span>
        </li>
        <li class="page-item" [ngClass]="{'disabled': page === totalPages - 1}" (click)="onPage(page + 1)">
          <span class="page-link">下一页</span>
        </li>
        <li class="page-item" [ngClass]="{'disabled': page === totalPages - 1}" (click)="onPage(totalPages - 1)">
          <span class="page-link">尾页</span>
        </li>

      </ul>
    </nav>
  </div>
</div>

