<div>
  <div class="row">
    <div class="col-md-2 form-text text-right">
      <label>实验名称：</label>
    </div>
    <div class="col-md-8">
      {{work?.item?.name}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 form-text text-right">
      <label>任务描述：</label>
    </div>
    <div class="col-md-8">
      {{work?.item?.description}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 form-text text-right">
      <label>当前分数：</label>
    </div>
    <div class="col-md-8">{{work?.score}}</div>
  </div>
  <hr>
  <div class="row mt-4">
    <div class="col-md-2 form-text text-right">
      <label>作答：</label>
    </div>
    <div class="col-md-8" [innerHTML]=work?.content></div>
  </div>

  <div class="row mt-5">
    <div class="col-md-8 offset-md-2">
      <button type="button" (click)="scoreBest()" class="btn btn-info btn-sm">
        <i class="far fa-save"></i>
        &nbsp;优
      </button>
      &nbsp;
      <button type="button" (click)="scoreGood()" class="btn btn-warning btn-sm">
        <i class="far fa-save"></i>
        &nbsp;良
      </button>
      &nbsp;
      <button type="button" (click)="scoreMiddle()" class="btn btn-danger btn-sm">
        <i class="far fa-save"></i>
        &nbsp;中
      </button>
      &nbsp;
      <button type="button" (click)="scoreBad()" class="btn btn-secondary btn-sm">
        <i class="far fa-save"></i>
        &nbsp;差
      </button>
      &nbsp;
      <button type="button" (click)="scoreZero()" class="btn btn-dark btn-sm">
        <i class="far fa-save"></i>
        &nbsp;零
      </button>

    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-2 form-text text-right">
    <label>附件：</label>
  </div>
  <div class="col-md-8">
            <span *ngFor="let attachment of work?.attachments">
        {{attachment.originName}}
              &nbsp;
              <span (click)="
        downloadAttachment(attachment)" class="btn-outline-info"> <i class="fas fa-download"></i>下载</span>
          &nbsp; <br>
      </span>
  </div>
</div>
<hr>
<div class="row" *ngIf="work.attachments !== null">
  <div class="col-md-2 form-text text-right">
    <label>作业地址：</label>
  </div>
  <div class="col-md-8">
    <a target="_blank"
       [href]="protocol + '//' + (this.work.student.no + '.' + host + '/' + getWorkDir()) | safeUrl">点击进入</a>
  </div>
</div>
<hr>
<div>
  <div class="col-md-2 form-text text-right">
    <label>作业内容：</label>
  </div>
<iframe height="500px" width="100%" name="iframe_work"></iframe>
  <p><a target="iframe_work"  style="display: none"
        [href]="protocol + '//' + (this.work.student.no + '.' + host + '/' + getWorkDir()) | safeUrl" #linkToWork>点击查看</a>
  </p>
</div>
<a style="display: none" routerLink="./../../" #linkToIndex>返回作业列表</a>
