<div>
  <div class="row">
    <div class="col-md-2 form-text text-right">
      <label>实验名称：</label>
    </div>
    <div class="col-md-8">
<!--      {{work?.item?.name}}-->
      测试实验
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 form-text text-right">
      <label>任务描述：</label>
    </div>
    <div class="col-md-8">
<!--      {{work?.item?.description}}-->
      测试描述
    </div>
  </div>
<!--  <div class="row" *ngIf="work.item.attachments.length">-->
<!--    <div class="col-md-2 form-text text-right">-->
<!--      <label>实验资源：</label>-->
<!--    </div>-->
<!--    <div class="col-md-8">-->
<!--            <span *ngFor="let attachment of work?.item?.attachments">-->
<!--        {{ attachment.originName}}-->
<!--              &nbsp;-->
<!--         <span (click)="-->
<!--        downloadAttachment(attachment)" class="btn-outline-info"> <i class="fas fa-download"></i></span>-->
<!--          &nbsp;-->
<!--        <br>-->
<!--      </span>-->
<!--    </div>-->
<!--  </div>-->
  <hr>
  <div class="row mt-4">
    <div class="col-md-2 form-text text-right">
      <label for="content">学生作答：</label>
    </div>
    <div class="col-md-8">
      <app-editor-component [content]="work?.content" id="content"
                            (contentEmit)="contentChange($event)"></app-editor-component>
    </div>
  </div>
<!--  <div class="row mt-4">-->
<!--    <div class="col-md-2 form-text text-right">-->
<!--      <label for="content">其它有必要的附件：</label>-->
<!--    </div>-->
<!--    <div class="col-md-8">-->
<!--      <app-uploader description="拖动文件到此处或点击浏览(最大上传大小为20M)" (uploadRejected)="uploadRejected($event)" (uploadedFile)="attachmentUploaded($event)" [buttonText]="'选择文件'"></app-uploader>-->
<!--    </div>-->
<!--  </div>-->
  <div class="row">
    <div class="col-md-2 form-text text-right">
      <label>上传文件：</label>
    </div>
    <div class="col-md-8">
            <span *ngFor="let attachment of work?.attachments">
        {{ attachment.originName}}
              &nbsp;
              <span (click)="
        downloadAttachment(attachment)" class="btn-outline-info"> <i class="fas fa-download"></i>下载</span>
          &nbsp;
         <span (click)="
        deleteAttachment(work.id, attachment.id)" class="btn-outline-danger"> <i class="fas fa-trash-alt"></i>删除</span>
        <br>
      </span>
    </div>
  </div>
<!--  <div class="row mt-5">-->
<!--    <div class="col-md-8 offset-md-2">-->
<!--      <button type="button" (click)="submit()" class="btn btn-dark btn-sm">-->
<!--        <i class="far fa-save"></i>-->
<!--        &nbsp;保存-->
<!--      </button>-->
<!--    </div>-->
<!--  </div>-->
</div>

