<h2 class="text-center mb-5 title">
  河北工业大学商业网站开发入门作业提交系统欢迎您！
</h2>
<hr>
<h5>项目作者</h5>
<ul>
  <li>人工智能与数据科学学院：<a href="https://segmentfault.com/u/zhangxishuo">张喜硕</a> 164600</li>
  <li>承德石油高等专科学校：&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://segmentfault.com/u/panjia_5b3b83f7743e9">潘佳琦</a> </li>
  <li>人工智能与数据科学学院：<a href="https://segmentfault.com/u/liyiheng">李宜衡</a> 174514</li>
  <li>人工智能与数据科学学院：<a href="https://segmentfault.com/u/jingdongxiang">黄庭祥</a> 174425</li>
  <li>人工智能与数据科学学院：<a href="https://segmentfault.com/u/zhaokaiqiang">赵凯强</a> 185762</li>
  <li>人工智能与数据科学学院：<a href="https://segmentfault.com/u/jincheng491717">张文达</a> 185702</li>
  <li>土木与交通学院: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://segmentfault.com/u/liuyuxuan6666">刘宇轩</a> 182511</li>
</ul>
<hr>
本项目由强大的angular + spring boot共同驱动，项目源码地址：<a href="https://github.com/mengyunzhi/work-home" target="_blank">https://github.com/mengyunzhi/work-home</a>
