<h1>当前实验</h1>
<div class="row" *ngFor="let item of currentItems">
  <div class="col-md-12">
    实验名称：{{item.name}}
    <a class="btn btn-primary" routerLink="./edit/{{item.id}}">作答</a>
  </div>
</div>

<hr/>

<table class="table">
  <tr>
    <th>序号</th>
    <th>实验名称</th>
    <th>开始时间</th>
    <th>结束时间</th>
    <th>是否评阅</th>
    <th>得分</th>
    <th>操作</th>
  </tr>
  <tr *ngFor="let work of works; let $index = index;">
    <td>{{$index + 1}}</td>
    <td>{{work.item.name}}</td>
    <td>{{work.item.beginTime | date}}</td>
    <td>{{work.item.endTime | date}}</td>
    <td>{{work.reviewed}}</td>
    <td>
      <span *ngIf="work.reviewed">{{work.score}}</span>
      <span *ngIf="!work.reviewed">-</span>
    </td>
    <td><a class="btn btn-sm btn-outline-primary" routerLink="/work/edit/{{work.item.id}}">作答</a></td>
  </tr>
</table>
