<!--<form [formGroup]="queryForm" (ngSubmit)="reload()">-->
<!--    <div class="row">-->
<!--        <div class="col-md-4">-->
<!--            <div class="row">-->
<!--                <div class="col-md-4 text-right">-->
<!--                    <label for="articleState" class="form-text">标签名称：</label>-->
<!--                </div>-->
<!--                <div class="col-md-8">-->
<!--                    <input type="text" class="form-control" id="articleState"-->
<!--                           placeholder="请输入标签名称" formControlName="name"/>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-md-4">-->
<!--            <div class="row">-->
<!--                <div class="col-md-8 offset-md-4">-->
<!--                    <button class="btn btn-primary btn-sm" type="submit">-->
<!--                        <i class="fas fa-search"></i>-->
<!--                        查询-->
<!--                    </button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</form>-->

<form (ngSubmit)="onQuery()">
  <label>姓名：<input name="name" [formControl]="params.name" type="text"/></label>
  <label>学号：<input name="no" [formControl]="params.no" type="text"/></label>
  <button type="submit">查询</button>
</form>
<div class="row">
    <div class="col-md-2 offset-md-10">
        <button class="btn btn-primary btn-sm" routerLink="add">
            <i class="fas fa-plus"></i>
            新增
        </button>
    </div>
</div>

<!--<app-size [size]="size" (changeSize)="reloadBySize($event)"></app-size>-->
<table class="table table-striped table-bordered mt-3">
    <thead class="thead-light">
    <tr>
        <th scope="col">序号</th>
        <th scope="col">学号</th>
        <th scope="col">姓名</th>
        <th scope="col">操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let student of pageStudent.content, index as i">
        <td>{{i + 1}}</td>
        <td>{{student.no}}</td>
        <td>{{student.name}}</td>
        <td>
            <button class="btn btn-primary btn-sm mr-2" routerLink="edit/{{student.id}}">
                <i class="fas fa-edit"></i>
                编辑
            </button>
            <button (click)="delete(student)" class="btn btn-danger btn-sm mr-2">
                <i class="fas fa-trash-alt"></i>
                删除
            </button>
          <button (click)="resetPassword(student.user.id)" id="resetPassword" class="btn btn-info btn-sm mr-2">
            <i class="fas fa-retweet"></i>
            重置密码
          </button>
        </td>
    </tr>
    </tbody>
</table>
<div *ngIf="pageStudent" class="row">
  <div class="col-4" id="pageInfo">
    第{{params.page + 1}}/{{pageStudent.totalPages}}页 每页{{params.size}}条
  </div>
  <div class="col-8">
    <nav>
      <ul class="pagination">
        <li class="page-item" [ngClass]="{'disabled': params.page === 0}" (click)="onPage(0)">
          <span class="page-link">首页</span>
        </li>
        <li class="page-item" [ngClass]="{'disabled': params.page === 0}" (click)="onPage(params.page - 1)">
          <span class="page-link">上一页</span>
        </li>
        <li class="page-item" [ngClass]="{'active': params.page === page}" *ngFor="let page of pages" (click)="onPage(page)">
          <span class="page-link" *ngIf="page !== params.page">{{page + 1}}</span>
          <span class="page-link" *ngIf="page === params.page">{{page + 1}}<span class="sr-only">(current)</span></span>
        </li>
        <li class="page-item" [ngClass]="{'disabled': params.page === pageStudent.totalPages - 1}" (click)="onPage(params.page + 1)">
          <span class="page-link">下一页</span>
        </li>
        <li class="page-item" [ngClass]="{'disabled': params.page === pageStudent.totalPages - 1}" (click)="onPage(pageStudent.totalPages - 1)">
          <span class="page-link">尾页</span>
        </li>

      </ul>
    </nav>
  </div>
<!--<app-page [page]="categoryPage.number" [size]="categoryPage.size" [totalElements]="categoryPage.totalElements"-->
<!--          (changePage)="reloadByPage($event)"></app-page>-->
