<div class="row mt-2">
  <div class="col-md-4 offset-md-2">
    <div class="row">
      <div class="col-md-4 text-right">
        <label for="username">学号：</label>
      </div>
      <div class="col-md-8">
        <div id="username">
          {{currentUser?.username}}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row mt-2">
  <div class="col-md-4 offset-md-2">
    <div class="row">
      <div class="col-md-4 text-right">
        <label for="role">角色：</label>
      </div>
      <div class="col-md-8">
        <div id="role">
          <span *ngIf="currentUser.role === 1">学生</span>
          <span *ngIf="currentUser.role === 0">教师</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row mt-4">
  <div class="col-md-4 offset-md-2">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <a class="btn btn-primary btn-sm mr-2" routerLink="/personalCenter/modifyPassword">
          <i class="fas fa-edit"></i>
          修改密码
        </a>
      </div>
    </div>
  </div>
</div>
