
<form>
  <div class="form-group row">
    <label class="col-sm-4 col-form-label">作业总数</label>
    <div class="col-sm-8" id="totalWorks">
      {{works.length}}
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-4 col-form-label">已批阅作业数目</label>
    <div class="col-sm-8" id="reviewedWorks">
     {{reviewedWork}}
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-4 col-form-label">总分</label>
    <div class="col-sm-8" id="totalScore">
      {{currentStudent?.totalScore}}
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-4 col-form-label">平均分</label>
    <div class="col-sm-8" id="averageScore">
      {{currentStudent?.averageScore}}
    </div>
  </div>
</form>

