
<form>
  <div class="form-group row">
    <label class="col-sm-4 col-form-label">作业总数</label>
    <div class="col-sm-8">
      {{works.length}}
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-4 col-form-label">已批阅作业数目</label>
    <div class="col-sm-8">
     {{reviewedWork}}
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-4 col-form-label">总分</label>
    <div class="col-sm-8">
      {{currentUser?.id}}
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-4 col-form-label">平均分</label>
    <div class="col-sm-8">
      {{currentUser?.id}}
    </div>
  </div>
</form>

