<h2>当前实验</h2>
<div class="row" *ngFor="let item of currentItems">
  <div class="col-md-12">
    {{item.name}}
  </div>
  <div class="col-md-12">
    {{item.description}}
    <a class="btn btn-primary" routerLink="./edit/{{item.id}}">作答</a>
  </div>
  <hr>
</div>

<table class="table">
  <tr>
    <th>序号</th>
    <th>实验名称</th>
    <th>开始时间</th>
    <th>结束时间</th>
    <th>是否评阅</th>
    <th>得分</th>
    <th>操作</th>
  </tr>
  <tr *ngFor="let work of works; let $index = index;">
    <td>{{$index + 1}}</td>
    <td>{{work.item.name}}</td>
    <td>{{work.item.beginTime | date:'yyyy-MM-dd hh:mm:ss'}}</td>
    <td>{{work.item.endTime | date:'yyyy-MM-dd hh:mm:ss'}}</td>
    <td></td>
    <td>
<!--      <span *ngIf="work.reviewed">{{work.score}}</span>-->
<!--      <span *ngIf="!work.reviewed">-</span>-->
    </td>
    <td>
      <a *ngIf="work.item.active" class="btn btn-sm btn-outline-primary" routerLink="./edit/{{work.item.id}}">修改</a>
      <a *ngIf="!work.item.active" class="btn btn-sm btn-outline-info" routerLink="./{{work.id}}">查看</a>
    </td>
  </tr>
</table>
<!--<app-page *ngIf="pageStudent.totalPages != 0" [setTotalPages]="pageStudent.totalPages" [setPage]="params.page" [setSize]="params.size" (selected)="onPageSelected($event)"></app-page>-->

