<form [formGroup]="itemForm" (ngSubmit)="pageAll()">

  <div class="custom-control custom-radio custom-control-inline">
    <label for="name" class="form-text">实验项目名称：</label>
  </div>
  <label><input type="text" id="name" placeholder="请输入实验项目名称" formControlName="name"/></label>
  <div class="custom-control custom-radio custom-control-inline">
    <button class="btn btn-info btn-sm" type="submit">
      <i class="fas fa-search"></i>
      查询
    </button>
    &nbsp;&nbsp;
    <button class="btn btn-sm btn-warning" (click)="clear()">
      <i class="fas fa-trash-alt"></i>
      清空
    </button>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button class="btn btn-primary btn-sm" routerLink="add">
      <i class="fas fa-plus"></i>
      新增
    </button>
  </div>


</form>


<table class="table table-striped table-bordered mt-3">
  <thead class="thead-light">
  <tr>
    <th scope="col">序号</th>
    <th scope="col">实验项目名称</th>
    <th scope="col">描述</th>
    <th scope="col">状态</th>
    <th scope="col">开始时间</th>
    <th scope="col">结束时间</th>
    <th scope="col">操作</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of items.content?.content; index as i">
    <td>{{i + 1 }}</td>
    <td>{{ item.name}}</td>
    <td>{{ item.description}}</td>
    <td>
      <span *ngIf="item.active">已开启</span>
      <span *ngIf="!item.active">已关闭</span>
    </td>
    <td>{{ item.beginTime | date:"yyyy-MM-dd" }}</td>
    <td>{{ item.endTime | date:"yyyy-MM-dd" }}</td>
    <td>
      <button class="btn btn-primary btn-sm mr-2" routerLink="edit/{{item.id}}">
        <i class="fas fa-edit"></i>
        编辑
      </button>
      <button type="button" (click)="delete(item)" class="btn btn-danger btn-sm">
        <i class="fas fa-trash-alt"></i>
        删除
      </button>
  </tr>
  </tbody>
</table>
<app-page *ngIf="items.totalPages != 0" [setTotalPages]="items.totalPages" [setPage]="page" [setSize]="size" (selectedPage)="onPageSelected($event)" (selectedSize)="onSizeSelected($event)"></app-page>


